body {
  margin: 0;
  padding: 0;
}
.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgb(5, 56, 115);
  height: 5vh;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  z-index: 1;
}
.auth_nav {
  margin: 0;
  width: 20%;
  display: flex;
  justify-content: space-around;

  &-login {
    text-decoration: none;
    background-color: #4f9cf9;
    width: 150px;
    margin-left: 5px;
    border-radius: 10px;
    text-align: center;
    padding: 0.7rem;
    color: white;
    font-family: sans-serif;
    transition: 0.2s;
    font-size: 0.9rem;
    font-weight: 700;
    &:hover {
      background-color: white;
      color: #4f9cf9;
    }
  }
  &-reg {
    @extend .auth_nav-login;
  }
}
.pages_nav {
  width: 1000px;
  display: flex;
  justify-content: space-around;
}

.yellow {
  background-color: #ffe492 !important;
}
