$mainBgColor: rgb(5, 56, 115);
.sing {
  background-color: $mainBgColor;
  height: 100vh;
  display: flex;

  &__form {
    background-color: $mainBgColor;
    height: 100%;
    margin: 0;
    margin-left: 200px;
    margin-right: 400px;
    display: grid;
    align-items: center;
    gap: 30px;
    grid-template-columns: 2fr 2fr;
    &--input {
      font-family: sans-serif;
      font-size: 20px;

      display: block;
      margin-left: 0px;
      width: 200px;
      height: 30px;
      border-radius: 10px;
    }
    &--btn {
      margin: auto;
      border-radius: 10px;
      box-shadow: 0 0 10px 1px black;
      font-size: 30px;
      background-color: white;
      border: none;
      color: $mainBgColor;
      width: 200px;
      height: 50px;
      transition: 0.2s;
      &:hover {
        box-shadow: 0 0 10px 1px black inset;
        background-color: $mainBgColor;
        color: white;
      }
    }
  }
  &__img {
    background-image: url("../assets/pick2.png");
    height: 100%;
    width: 50%;
  }
}
